PROJECT_ROOT=/absolute/path/to/autodition
DATA_ROOT=/absolute/path/to/autodition/data
RAW_DATA_DIR=/absolute/path/to/autodition/data/raw
PREPROCESSED_DATA_DIR=/absolute/path/to/autodition/data/preprocessed
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_ENDPOINT_URL=https://storage.yandexcloud.net/
